/* Import the original Unfold theme CSS */
@import url('./fontiran.css');

/* Basic overrides for RTL compatibility */

/* Set document direction to right-to-left */
html {
  direction: rtl;
  font-family: iranyekan !important;
}

body {
  font-family: iranyekan !important;
}

/* Adjust text alignment */
.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

/* Adjust padding and margins */
/* Tailwind default spacing scale (0-4) */
[class*="space-x-"]> :not([hidden])~ :not([hidden]) {
  margin-inline-start: 1rem !important;
  margin-inline-end: 1rem !important;
}

[class*="space-y-"]> :not([hidden])~ :not([hidden]) {
  margin-block-start: 1rem !important;
  margin-block-end: 1rem !important;
}

/* Adjust float for float-based layouts */
.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

/* Adjust flex direction for flexbox layouts */
/* .flex-row {
  flex-direction: row-reverse !important;
} */

/* .flex-row-reverse {
  flex-direction: row !important;
} */

/* Adjust form input direction */
/* For better usability in RTL languages */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
  direction: rtl !important;
}

/* Adjust any other relevant styles */

/* Example: Adjusting navbar for RTL */
.navbar {
  /* Assuming the navbar should be aligned to the right in RTL */
  text-align: right !important;
}

/* Example: Adjusting modal for RTL */
.modal {
  /* Assuming the modal should be aligned to the right in RTL */
  text-align: right !important;
}

/* Example: Adjusting sidebar for RTL */
.sidebar {
  /* Assuming the sidebar should be floated to the right in RTL */
  float: right !important;
}

/* Additional adjustments for specific elements */
.datetimeshortcuts {
  /* Adjusting position for RTL */
  right: auto !important;
  left: 0 !important;
}

.right-0 {
  right: auto !important;
  left: 0;
}

.left-0 {
  left: auto !important;
  right: 0;
}

.right-4 {
  right: auto !important;
  left: 1rem;
}

/* Custom RTL Margin Utility Classes */

/* Margin Left */
.ml-1 {
  margin-right: 0.25rem;
  margin-left: unset !important;
}

.ml-2 {
  margin-right: 0.5rem;
  margin-left: unset !important;
}

.ml-3 {
  margin-right: 0.75rem;
  margin-left: unset !important;
}

.ml-4 {
  margin-right: 1rem;
  margin-left: unset !important;
}

.ml-5 {
  margin-right: 1.25rem;
  margin-left: unset !important;
}

.ml-6 {
  margin-right: 1.5rem;
  margin-left: unset !important;
}

.ml-72 {
  margin-right: 18rem;
  margin-left: unset !important;
}

/* Margin Right */
.mr-1 {
  margin-left: 0.25rem;
  margin-right: unset !important;
}

.mr-2 {
  margin-left: 0.5rem;
  margin-right: unset !important;
}

.mr-3 {
  margin-left: 0.75rem;
  margin-right: unset !important;
}

.mr-4 {
  margin-left: 1rem;
  margin-right: unset !important;
}

.mr-5 {
  margin-left: 1.25rem;
  margin-right: unset !important;
}

.mr-6 {
  margin-left: 1.5rem;
  margin-right: unset !important;
}

.-right-2 {
  right: unset !important;
  left: -.5rem
}

nav {
  z-index: 10;
}


span[data-icon="arrow_back"],
i[data-icon="arrow_forward"],
span[data-icon="first_page"],
a.selector-add::after,
a.selector-remove::after,
span[data-icon="chevron_right"] {
  transform: rotate(180deg);
}


.pl-1 {
  padding-left: unset !important;
  padding-right: 0.25rem;
}

.pl-2 {
  padding-left: unset !important;
  padding-right: 0.5rem;
}

.pl-3 {
  padding-left: unset !important;
  padding-right: 0.75rem;
}

.pl-4 {
  padding-left: unset !important;
  padding-right: 1rem;
}

.pl-5 {
  padding-left: unset !important;
  padding-right: 1.25rem;
}

.pl-6 {
  padding-left: unset !important;
  padding-right: 1.5rem;
}

.-translate-x-1\/2 {
  --tw-translate-x: 50% !important;
}

span[title],
select.ui-datepicker-month option,
select.ui-datepicker-month,
select.ui-datepicker-year option,
select.ui-datepicker-year {
  font-family: iranyekan !important;
}

select:not([class*="bg-none"]):not([multiple]) {
  background-position: left .7rem center !important;
}

select.ui-datepicker-month,
select.ui-datepicker-year {
  appearance: none !important;
  background-color: unset !important;
  border-width: 1px;
  border-radius: .375rem;
  padding: 0.25rem;
  margin: 0.25rem !important;
}


.ui-datepicker {
  background-color: white !important;
  border: none !important;
  width: 21rem !important;
}

.ui-datepicker table td {
  height: 2.5rem;
  width: 2.5rem;
  padding: .25rem;
  text-align: center;
}

.ui-datepicker table td a {
  display: block;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  background: none !important;
  border: none !important;

}

.ui-datepicker table td a:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246/var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81/var(--tw-text-opacity)) !important;
  border: none !important;
}

.ui-datepicker table td.ui-datepicker-current-day a {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(var(--color-primary-600)/var(--tw-bg-opacity)) !important;
  font-weight: 500 !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255/var(--tw-text-opacity)) !important;
}



.ui-datepicker-header,
.ui-datepicker-title {
  background-color: unset !important;
}

.ui-datepicker-prev,
.ui-datepicker-next,
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background: unset !important;

}

.ui-datepicker-header a span {
  background: unset !important;
}

a.ui-datepicker-next span,
a.ui-datepicker-prev span {

  display: flex;
  font-family: Material Symbols Outlined;
  height: 1.75rem;
  width: 1.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-text-opacity: 1;
  color: rgb(156 163 175/var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  font-family: Material Symbols Outlined;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  text-indent: unset !important;
  visibility: collapse;
  display: flex !important;
}


a.ui-datepicker-next span:after {
  visibility: visible;
  content: "navigate_before";
}

a.ui-datepicker-prev span:after {
  visibility: visible;
  content: "navigate_next";
}

.ui-state-hover {
  border: none !important;
}

p.time {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 42rem;
}
