{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block page_title %}
  {% trans 'Change Password' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="profile-wrapper-area py-3">
      <!-- User Information -->
      <div class="card user-info-card">
        <div class="card-body p-4 d-flex align-items-center">
          <div class="user-profile me-3">
            <img src="{% static 'img/bg-img/9.jpg' %}" alt="" />
          </div>
          <div class="user-info">
            <p class="mb-0 text-white">
              {% if user.phone_number %}
                {{ user.phone_number }}
              {% else %}
                {{ user.email }}
              {% endif %}
            </p>
            <h5 class="mb-0 text-white">{{ user.full_name }}</h5>
          </div>
        </div>
      </div>
      <!-- Change Password Form -->
      <div class="card user-data-card">
        <div class="card-body">
          <form action="{% url 'change-password' %}" method="post" id="password-form">
            {% csrf_token %}
            <!-- Old Password -->
            <div class="mb-3">
              <div class="title mb-2">
                <i class="ti ti-key"></i><span>{% trans 'Old Password' %}</span>
              </div>
              <input class="form-control" type="password" name="old_password" placeholder="" required />
              <small class="text-danger">{{ errors.old_password }}</small>
            </div>
            <!-- New Password -->
            <div class="mb-3">
              <div class="title mb-2">
                <i class="ti ti-key"></i><span>{% trans 'New Password' %}</span>
              </div>
              <input class="form-control" id="newPassword1" type="password" name="new_password1" placeholder="" required />
              <small class="text-danger">{{ errors.new_password1 }}</small>
            </div>
            <!-- Repeat New Password -->
            <div class="mb-3">
              <div class="title mb-2">
                <i class="ti ti-key"></i><span>{% trans 'Repeat New Password' %}</span>
              </div>
              <input class="form-control" id="newPassword2" type="password" name="new_password2" placeholder="" required />
              <small class="text-danger">{{ errors.new_password2 }}</small>
            </div>
            <!-- Submit Button -->
            <button class="btn btn-primary btn-lg w-100" type="submit" id="password-change-btn" disabled>{% trans 'Update Password' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript for Password Validation -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const password1 = document.getElementById('newPassword1')
      const password2 = document.getElementById('newPassword2')
      const submitButton = document.getElementById('password-change-btn')

      function validatePasswords() {
        if (password1.value && password2.value && password1.value === password2.value) {
          submitButton.removeAttribute('disabled')
        } else {
          submitButton.setAttribute('disabled', 'disabled')
        }
      }

      password1.addEventListener('input', validatePasswords)
      password2.addEventListener('input', validatePasswords)
    })
  </script>
{% endblock %}
