{% load static %}
{% load i18n %}
{% load humanize %}
<div class="footer-nav-area" id="footerNav">
  <div class="suha-footer-nav">
    <ul class="h-100 d-flex align-items-center justify-content-between ps-0 d-flex rtl-flex-d-row-r">
      <li>
        <a href="{% url 'home' %}"><i class="ti ti-home"></i> {% trans 'Home' %}</a>
      </li>
      {% comment %} <li>
        <a href="message.html"><i class="ti ti-message"></i>{% trans 'Chat' %}</a>
      </li> {% endcomment %}
      <li>
        <a href="{% url 'cart' %}"><i class="ti ti-basket"></i>{% trans 'Cart' %}</a>
      </li>
      <li>
        <a href="{% url 'settings' %}"><i class="ti ti-settings"></i>{% trans 'Settings' %}</a>
      </li>
      <li>
        <a href="{% url 'pages' %}"><i class="ti ti-heart"></i>{% trans 'Pages' %}</a>
      </li>
    </ul>
  </div>
</div>
